/* ======== HEADER ======== */
.custom-navbar {
    background-color: $ui-color-vino-principal;
    color: $ui-color-texto-blanco;
    border-bottom: 2px solid $ui-color-vino-hover;

    .nav-link {
        color: $ui-color-texto-claro;
        font-weight: 500;
        text-transform: uppercase;
        padding: 10px 20px;

        &:hover {
            color: $ui-color-texto-claro-hover;
            background-color: $ui-color-vino-hover;
        }
    }

    img {
        max-height: 50px;
    }
}

.navbar-toggler {
    border-color: $ui-color-texto-claro;
}

.navbar-collapse {
    text-align: center;
}
