/* Estilos para el overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $ui-color-texto-blanco;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px;
}

.bodega-item .card:hover .overlay {
    opacity: 1;
}