// Variables
$ui-color-vino-principal: #6A1B3D;
$ui-color-vino-hover: #9B2335;
$ui-color-boton: #7d1538;
$ui-color-texto-claro: #F5C6CB;
$ui-color-texto-claro-hover: #F1D0B7;
$ui-color-texto-blanco: #fff;
$ui-color-fondo: #f8f1e5;
$ui-color-texto-principal: #4a2c2a;
$ui-color-overlay-hover: #B84D58;
$ui-color-whatsapp: #25d366;

// Mapa de fuentes
$ui-fuentes: (
  "principal": "Playfair Display",
  "titulo": "Pacifico",
);